table {
    border: 5px solid black;
}
td {
    border: 1px solid yellow;
}
caption {
    color: yellow;
    font-weight: bold;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
.block {
    display: grid;
    grid-gap: 5px;
    grid-template-areas:"img table";
    background-color: skyblue;
    align-items: start;
    padding: 1%;
    margin: 1%;
}
.table {
    grid-area: table;
    margin-left: 1%;
    text-align: justify;
}
.imgR {
    grid-area: img;
    margin: 9% 0% 0% 0%;
}
.imgR img {
    width: 75%;
}